In [1]:
import pandas as pd

In [3]:
import os

In [2]:
EXCEL_DIR = '/Users/lamanwyner/Desktop/Shawmut Projects/Scheduling'
MASTER_FILE = 'master.xlsx'
TRANS_SHEET = 'translation_ana'

In [4]:
raw_df = pd.read_excel(os.path.join(EXCEL_DIR, MASTER_FILE), sheet_name=TRANS_SHEET,
                       usecols=['inv_name', 'plan_name'])

              inv_name plan_name  Unnamed: 2 Unnamed: 3
0    GF A1148DANONAUTO  not used         NaN        NaN
1         GF AUSR5270A  not used         NaN        NaN
2      GF AUSR5271AHEN  not used         NaN        NaN
3          GF AUSR5273  not used         NaN        NaN
4       GF AUSR5273SPL  not used         NaN        NaN
..                 ...       ...         ...        ...
747        GF AUSR8120  not used         NaN        NaN
748     GF CF5491NAT48  not used         NaN        NaN
749     GF CF5493NAT48  not used         NaN        NaN
750     GF WAU7389H-HH   AU7389H         NaN        NaN
751       GF WAUSR8135  not used         NaN        NaN

[752 rows x 4 columns]